<% title "Upload"%>

<div class='row'>
    <ul class="breadcrumbs">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Open Workspaces", @workspace %></li>
      <li class="active"><i class='fa fa-cloud-upload'></i>
          Upload
      </li>
    </ul>

    <h4 class='text-center'>Joined Up datasets [Pending]</h4>
        <div class='panel'>
          Please edit the following datasets appropriately.
          <br/>
        </div>
    <hr>
    <div class='row'>
      <table>
        <thead>
          <tr>
            <th>Uploaded by</th>
            <th>Date</th>
            <th>Review</th>
          </tr>
        </thead>

      </table>
    </div>

</div>
