<script>
      (function(w,d,s,g,js,fjs){
    g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(cb){this.q.push(cb)}};
    js=d.createElement(s);fjs=d.getElementsByTagName(s)[0];
    js.src='https://apis.google.com/js/platform.js';
    fjs.parentNode.insertBefore(js,fjs);js.onload=function(){g.load('analytics')};
  }(window,document,'script'));
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
<section class="Site-main">
<div class="Dashboard Dashboard--full">
  <header class="Dashboard-header">
    <ul class="FlexGrid">
      <li class="FlexGrid-item">
        <div class="Titles">
          <h1 class="Titles-main" id="view-name">Opendev Data Analytics </h1>
          <hr>
          <div class="Titles-sub" style="padding-right:4em">
          <span>Page views for past 60 days: <span id="page-views"></span> </span>
          <span style="float:right">Sessions for past 60 days: <span id="page-sessions"></span> </span>
        </div>
      </li>
    </ul>

  </header>

  <ul class="FlexGrid FlexGrid--halves">
    <li class="FlexGrid-item">
        <div class="Chartjs">
          <header class="Titles">
            <h1 class="Titles-main">Over view</h1>
            <div class="Titles-sub">By page views</div>
          </header>
          <figure class="Chartjs-figure" id="chart-5-container"></figure>
          <ol class="Chartjs-legend" id="legend-5-container"></ol>
        </div>
      </li>
    <li class="FlexGrid-item">
        <div class="Chartjs">
          <header class="Titles">
            <h1 class="Titles-main">Visitors</h1>
            <div class="Titles-sub">By page views</div>
          </header>
          <figure class="Chartjs-figure" id="chart-6-container"></figure>
          <ol class="Chartjs-legend" id="legend-6-container"></ol>
        </div>
      </li>

    <li class="FlexGrid-item">
      <div class="Chartjs">
        <header class="Titles">
          <h1 class="Titles-main">This Week vs Last Week</h1>
          <div class="Titles-sub">By sessions</div>
        </header>
        <figure class="Chartjs-figure" id="chart-1-container"></figure>
        <ol class="Chartjs-legend" id="legend-1-container"></ol>
      </div>
    </li>

    <li class="FlexGrid-item">
      <div class="Chartjs">
        <header class="Titles">
          <h1 class="Titles-main">This Year vs Last Year</h1>
          <div class="Titles-sub">By users</div>
        </header>
        <figure class="Chartjs-figure" id="chart-2-container"></figure>
        <ol class="Chartjs-legend" id="legend-2-container"></ol>
      </div>
    </li>

    <li class="FlexGrid-item">
      <div class="Chartjs">
        <header class="Titles">
        <h1 class="Titles-main">Top Browsers</h1>
        <div class="Titles-sub">By pageview</div>
      </header>
        <figure class="Chartjs-figure" id="chart-3-container"></figure>
        <ol class="Chartjs-legend" id="legend-3-container"></ol>
      </div>
    </li>
    <li class="FlexGrid-item">
      <div class="Chartjs">
        <header class="Titles">
          <h1 class="Titles-main">Top Countries</h1>
          <div class="Titles-sub">By sessions</div>
        </header>
        <figure class="Chartjs-figure" id="chart-4-container"></figure>
        <ol class="Chartjs-legend" id="legend-4-container"></ol>
      </div>
    </li>
  </ul>
</div>
</section>
