<div class='row'>

    <div class='large-12 columns'>

        <div class='alert-box success' id="successMessage" style='display: None;'>You have successfully approved applicant!</div>

        <h4>Pending membership approvals</h4>
        <table>
        <thead>
            <tr>
                <th width='300'>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        <% @memberships.each do |membership| %>
            <tr id='<%= membership.id %>'>
                <td><%= full_name_of membership.user %></td>
                <td>
                <%= link_to 'Approve', approve_workspace_membership_path(@workspace, membership), remote: true %>
                </td>
            </tr>
        <% end %>
        </tbody>
        </table>

    </div>
</div>
