<% if @joined_up_datasets.exists? %>
<div class='row'>
<div class='large-12 columns'>
<div data-no-turbolink>
    <table id='joined_up_data'>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Tags</th>
            </tr>
        </thead>
        <tbody>
            <% @joined_up_datasets.each do |judu| %>
            <tr>
                <td><%= link_to judu.name, open_workspace_joined_up_dataset_path(judu.open_workspace.id, judu.id) %></td>
                <td><%= judu.description %></td>
                <td>
                    <% judu.tags_array.each do |tag| %>
                        <span class='label'><%= tag %></span>
                    <% end %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
</div>
</div>
<% else %>

<div class='panel'>
    There are still some Joinedup datasets pending review.
</div>
<% end %>
