<% user_full_name = @user.full_name %>
<% title("#{user_full_name}") %>


<div class='page-header'>
    <h2><%= user_full_name %></h2>
</div>
<table class='table'>
    <thead>
        <tr>
            <th>Dataset Uploads</th>
            <th>Document Uploads</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= @user.datasets.count %></td>
            <td><%= @user.documents.count %></td>
        </tr>
    </tbody>
</table>
