<div class='row'>
    <div class='large-12 columns'>
        <h4>What is Open Development Data Uganda?</h4>

        <p>

        Opendevdata is being developed jointly by <a target='_blank' href='http://www.drt-ug.org/'>Development Research and Training</a> and <a target='_blank' href='http://devinit.org/'>Development Initiatives</a>.

        The use of this site to create a pilot joined up data portal has been made possible by a Grand Challenges grant from the <a target='_blank' href='http://www.grandchallenges.org/Explorations/Topics/Pages/SocialDataInteroperability_Round11.aspx'>Bill and Melinda Gates Foundation</a>.
        </p>
        <p>
            Open development is where organisations are using information
            technologies, among other information sharing channels,
            to provide and share information. Open development enhances
            transparency and accountability about resources that are
            available to be invested in development, how those resources
            are invested and what results they achieve. In the end, all
            the stakeholders involved in this information sharing chain;
            the data owners and users benefit from this mutually reinforcing
            ecosystem
        </p>

        <h4>Objectives</h4>

        <p>
            Opendevdata was built to serve the following purposes:
            <ul>
                <li>
                Establishing and maintaining a learning space for
                players in open development to reflect and contribute
                to solving development challenges related to access and
                use of information.
                </li>
                <li>
                Share development-oriented information and data for
                wider public usage.
                </li>
                <li>
                    Documenting best practices on application and
                    impact of open development initiatives to
                    peoples’ socio-economic and political wellbeing.
                </li>
                <li>
                    Enhancing citizens’ capacity to access and use
                    information/data to effectively participate in
                    development processes.
                </li>
            </ul>
        </p>

        <h4>Expected outcomes</h4>
        <p>
            The open development programme will generate a range of
            positive outcomes for the government of Uganda, its
            citizens, academic institutions, civic organizations,
            development partners and the private sector actors among
            others. Some of these include:
            <ul>
                <li>Increased citizens’ voice and participation in
                governance of the country.</li>
                <li>
                    Increased effectiveness and efficiency in use of
                    aid and development resource, especially towards
                    national poverty reduction objectives.
                </li>
                <li>Transparent decision-making processes and
                accountable public workers.</li>
            </ul>
        </p>
    </div>
</div>
