<div class='row'>
    <div class='large-12 columns'>
        <h4>What is Open Development Data Uganda?</h4>

        <p>

        Opendevdata is being developed jointly by <a target='_blank' href='http://www.drt-ug.org/'>Development Research and Training</a> and <a target='_blank' href='http://devinit.org/'>Development Initiatives</a>.

        The use of this site to create a pilot joined up data portal has been made possible by a Grand Challenges grant from the <a target='_blank' href='http://www.grandchallenges.org/Explorations/Topics/Pages/SocialDataInteroperability_Round11.aspx'>Bill and Melinda Gates Foundation</a>.
        </p>
        <p>
            Uganda was a little late to the global Open Data Movement,
            even though many actors had been involved in the old school transparency,
            openness and access to information initiatives for quiet sometime.
            Of late however, there is a budding open data movement of data producers,
            analysts, users and policy makers who are ensuring that data on development
            is available and accessible. With the increasing growth of the ICT industry,
            new players are joining the ecosystem every other day. App makers, government agencies,
            the donor community and the private sector are all realizing the importance of data in driving the socioeconomic development of Uganda.
            Despite the challenges that still exist,
            there is no doubt that the open development movement is on course to make information on development widely available for use.
        </p>
        <p>
        This website is being developed jointly by Development Research and Training and Development Initiatives.
        The use of this site to create a pilot joined up data portal has been made possible by a
        Grand Challenges grant from the Bill and Melinda Gates Foundation.
        The Mapping of open data actors has been done with the support of Indigo Trust Uk.
        </p>
        <p>
            The major theme of the site is to promote interoperability of data and actors, to ensure that every dataset tells a story (read more on this here)
        </p>
        <h4>Objectives</h4>

        <p>
            Opendevdata was built to serve the following purposes:
            <ul>
                <li>
                Establishing and maintaining a learning space for
                players in open development to reflect and contribute
                to solving development challenges related to access and
                use of information.
                </li>
                <li>
                Share development-oriented information and data for
                wider public usage.
                </li>
                <li>
                    Documenting best practices on application and
                    impact of open development initiatives to
                    peoples’ socio-economic and political wellbeing.
                </li>
                <li>
                    Enhancing citizens’ capacity to access and use
                    information/data to effectively participate in
                    development processes.
                </li>
            </ul>
        </p>

        <h4>Expected outcomes</h4>
        <p>
            The open development programme will generate a range of
            positive outcomes for the government of Uganda, its
            citizens, academic institutions, civic organizations,
            development partners and the private sector actors among
            others. Some of these include:
            <ul>
                <li>Increased citizens’ voice and participation in
                governance of the country.</li>
                <li>
                    Increased effectiveness and efficiency in use of
                    aid and development resource, especially towards
                    national poverty reduction objectives.
                </li>
                <li>Transparent decision-making processes and
                accountable public workers.</li>
            </ul>
        </p>
        <h4>The Open development ecosystem in Uganda </h4>
        <img src="http://petty.io.s3-website-eu-west-1.amazonaws.com/open_chart.png">
        <p>There is a reason we went beyond the <a href="http://opendefinition.org/">Open Definition</a> in our approach.
                Ours is an ecosystem led approach which recognizes the unique context of our country.
                Technology, while it is improving still has a long way, social and digital divides,
                all are reasons we take an embracive approach where every stakeholder in the data chain is welcome to the table.
                Hence here you will find actors whose work may not be defined as "open data" and
                are important in reaching a future of fully fledged and operational open data initiatives.
            </p>
    </div>
</div>
