
<div id="carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
        <div class='carousel-image'>
            <%= image_tag("od_1.jpg", alt: "image01") %>
        </div>
      <div class="carousel-caption">
       Data should be open to public
      </div>
    </div>

    <div class="item">
        <div class='carousel-image'>
            <%= image_tag("od_2.jpg", alt: "image01") %>
        </div>
      <div class="carousel-caption">
       Count the costs of development
      </div>
    </div>
    <div class="item">
        <div class='carousel-image'>
            <%= image_tag("od_3.jpg", alt: "image01") %>
        </div>
      <div class="carousel-caption">
       Encourage good data journalism
      </div>
    </div>
    </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>



<!-- Carousel
================================================== -->
<!-- /.carousel -->
