<% if signed_in? %>
    <% title("Welcome #{current_user.first_name}") %>
<% else %>
    <% title("Welcome") %>
<% end %>
<div class='row'><div id="map"></div></div>
<script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        var map = L.map('map').setView([0.313611, 32.581111], 13);
        L.tileLayer('http://{s}.tile.cloudmade.com/0c99e54360b9440db02fc6d58f1602e9/997/256/{z}/{x}/{y}.png',
            {
                attribution: 'Map Data &copy;',
                maxZoom: 20
            }).addTo(map);
    });
</script>

<% if signed_in? %>
    <div class='row'>
        <div class='jumbotron' style='text-align: center;'>
            <p class='lead' id='step1'>New to Open Data?</p>
            <a class='btn btn-large btn-success' href='javascript:void(0);' onclick="startIntro();">Tell me More!</a>
        </div>
    </div>

    <script type="text/javascript">
        function startIntro(){
            var intro = introJs();
            intro.setOptions({
                tooltipClass: 'customDefault',
                steps: [
                {
                    element: document.querySelector("#step1"),
                    intro: 'Welcome to Open Dev Data Uganda'
                },
                {
                    element: document.querySelectorAll('#step2')[0],
                    intro: 'To look at all the datasets, click this link',
                    position: 'right'
                }

                ]
            });
            intro.start();
        }
    </script>



<% end %>
