<% if signed_in? %>
    <% title("Welcome #{current_user.first_name}") %>
<% else %>
    <% title("Welcome") %>
<% end %>

<% if signed_in? %>
    <div class='row'>
        <div class='jumbotron' style='text-align: center;'>
            <p class='lead' id='step1'>New to Open Data?</p>
            <a class='btn btn-large btn-success' href='javascript:void(0);' onclick="startIntro();">Tell me More!</a>
        </div>
    </div>

    <script type="text/javascript">
        function startIntro(){
            var intro = introJs();
            intro.setOptions({
                tooltipClass: 'customDefault',
                steps: [
                {
                    element: document.querySelector("#step1"),
                    intro: 'Welcome to Open Dev Data Uganda'
                },
                {
                    element: document.querySelectorAll('#step2')[0],
                    intro: 'To look at all the datasets, click this link',
                    position: 'right'
                }

                ]
            });
            intro.start();
        }
    </script>

<div class='row'>
    <a class="twitter-timeline" data-theme="dark" href="https://twitter.com/search?q=%23opendata" data-widget-id="400545173387489280">Tweets about "#opendata"</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<% else %>
    <%= render "marketing" %>
<% end %>
