<div class='row'><div id="map"></div></div>
<script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        var map = L.map('map').setView([0.313611, 32.581111], 13);
        L.tileLayer('http://{s}.tile.cloudmade.com/0c99e54360b9440db02fc6d58f1602e9/997/256/{z}/{x}/{y}.png',
            {
                attribution: 'Map Data &copy;',
                maxZoom: 20
            }).addTo(map);
    });
</script>


