<h1 class='page-header'>Documents</h1>

<ul>
<% @documents.each do |document| %>
    <li class='doc-list-item'>
        <span class='doc-details'>
            <span class='doc-title'></span>
        </span>
    </li>
<% end %>
</ul>
