<div class="row">
    <div class='panel panel-warning'>
        <div row class='panel-heading'>
            <div class="medium-2 columns">
                <a style='font-size:3em' id='doc-link' href="<%= @document.attachment.url%>">
                    <i id ='file-icon' class='fa'></i>
                </a>
            </div>
            <div class="medium-10 columns">
                 <h5 style="line-height:2"> <%= @document.name %></h5>
            </div>
        </div>
        <div style='margin-top:2em' class='row panel-footer announcement-bottom'>
            <div class='medium-12 columns'><%= @document.description %></div>
        </div>
    </div>
</div>
<script>
  $(document).ready(function(){
    //finds out what type of file we have
    (function(){
        var link = $("#doc-link").attr("href");
        //split by dots and get the last segment
        var ext = link.split('.').pop();
        var icon = $('#file-icon');
        if(ext == 'pdf'){
            icon.addClass('fa-file-pdf-o');
        }else{
            icon.addClass('fa-file-word-o');
        }

    })();

  });
</script>
