 <form data-abide method="post" action="index.php" id='sendEmail'>
  <h3>Please fill in the form below and we will contact you shortly</h3>
  <fieldset>
      <div class="textarea">
        <label for="remarks">Comments <small>required</small></label>
         <textarea id="remarks" name="remarks" placeholder="Leave your remarks here." required pattern="[a-zA-Z]+"></textarea>
       </div>
      <button type="submit" value="send" id='emailSend'>Submit</button>
  </fieldset>
</form>
