<% title "All Posts" %>
<div class="row">
    <h1 class="page-header">All Posts</h1>
    <%= link_to "New Post", new_post_path, class: 'btn btn-primary btn-large' %>
</div>
<br>
<div class="row">
    <%= render @posts %>
    <%= paginate @posts %>
</div>

