// Place all the styles related to the analytics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


audio,canvas,progress,video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Styles for gapi analytics table.
 */

.gapi-analytics-data-chart {
  margin-bottom:1.5em;
}

.gapi-analytics-data-chart .gapi-analytics-data-chart-styles-table-tr-odd {
  background: hsl(30,15%,96.7%)!important;
}

.gapi-analytics-data-chart .gapi-analytics-data-chart-styles-table-tr-over {
  background: hsl(30,15%,93.3%)!important;
}

.Site {
  background:hsl(30,10%,95%);
  min-height: 100%;
  min-width:260px;
}




@media (min-width: 570px) {

  .Site-sidebar {
    left:-280px;
    min-width:280px;
    width:280px;
  }
  .Site.is-expanded .Site-sidebar {
    -webkit-transform:translate3d(280px,0,0);
            transform:translate3d(280px,0,0);
  }
}

@media (min-width: 1024px) {
  .Site {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }



  .Site.is-expanded .Site-sidebar {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .Site-main {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    position: relative;
  }
}


.Box {
  background: #fff;
  border:1px solid #d4d2d0;
  border-radius: 4px;
  margin-bottom:1.5em;
  padding:1.5em;
}


.Box-header {
  border-bottom:1px solid #d4d2d0;
  margin:-1.5em -1.5em 1.5em;
  padding:1.5em;
}

.Box-footer {
  border-top:1px solid #d4d2d0;
  margin:1.5em -1.5em -1.5em;
  padding:1.5em;
}

@media (min-width: 1024px) {
  .Box {
    margin-bottom:2em;
    padding:2em;
  }
  .Box-header {
    margin:-2em -2em 2em;
    padding:2em;
  }
  .Box-footer {
    margin:2em -2em -2em;
    padding:2em;
  }
}



.Button {
  background: hsla(0,0%,0%, .075);
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  font-weight: 400;
  line-height: 1.42857em; /* 20px @ 14px body font */
  padding: 0.42857em 1em; /* 6px @ 14px body font */
  -webkit-transition:background-color .2s cubic-bezier(.4,0,.2,1),
              border-color .2s cubic-bezier(.4,0,.2,1);
          transition:background-color .2s cubic-bezier(.4,0,.2,1),
              border-color .2s cubic-bezier(.4,0,.2,1);
}

.Button:disabled {
  opacity: .4;
}

.Button:active:enabled,.Button:focus:enabled,.Button:hover:enabled {
  background: hsla(0,0%,0%, .15);
  outline: none;
  text-decoration: none;
}


.Button-iconWrapper {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.Button-icon {
  margin-right: .6em;
}

.Button--action {
  color: #fff;
  background:hsl(217,91%,63%);
  border-color: transparent;
}
.Button--action:active:enabled,.Button--action:focus:enabled,.Button--action:hover:enabled {
  background:hsl(217,91%,53%);
}

.Button--success {
  color: #fff;
  background:hsl(135,60%,40%);
  border-color: transparent;
}
.Button--success:active:enabled,.Button--success:focus:enabled,.Button--success:hover:enabled {
  background:hsl(135,60%,33%);
}


.ButtonSet {
  margin: 0 -1em -1em;
}

.ButtonSet .Button {
  margin: 0 0 1em 1em;
}


.Chartjs {
  font-size: .85em;
}

.Chartjs-figure {
  height: 250px;
}

.Chartjs-legend {
  list-style: none;
  margin: 0;
  padding: 1em 0 0;
  text-align: center;
}

.Chartjs-legend > li {
  display: inline-block;
  padding: .25em .5em
}

.Chartjs-legend > li > i {
  display: inline-block;
  height: 1em;
  margin-right: .5em;
  vertical-align: -.1em;
  width: 1em;
}

@media (min-width: 570px) {
  .Chartjs-figure {
    /* Add some breathing room. */
    margin-right:1.5em;
  }
}



.Checkbox {
  display: inline-block;
  margin-right: .5em;
}



.Content {
  margin:1.5em;
  max-width: 1060px;
  -webkit-transition:opacity .5s cubic-bezier(.4,0,.2,1);
          transition:opacity .5s cubic-bezier(.4,0,.2,1);
}

.Site.is-loading .Content,.Site.is-needingAuthorization .Content {
  pointer-events: none;
  opacity: .333;
}

@media (min-width: 1024px) {
  .Content {
    margin:3em;
  }
}

.Dashboard {
  background: #fff;
  border:1px solid #d4d2d0;
  border-radius: 4px;
  max-width:52em;
  padding:1.5em;
}

.Dashboard-header {
  border-bottom:1px solid #d4d2d0;
}

.Dashboard-footer,.Dashboard-header{margin:-1.5em -1.5em 1.5em;padding:1.5em;}

.Dashboard-footer {
  border-top:1px solid #d4d2d0;
}

.Dashboard--full {
  max-width: 100%;
}

@media (min-width: 1024px) {.Dashboard,.Dashboard-header{padding:2em;}.Dashboard-footer,.Dashboard-header{margin:-2em -2em 2em;}
  .Dashboard-footer {
    padding:1.5em;
  }
}


.DateRangeSelector {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 0 -1em -1em;
}

.DateRangeSelector-item {
  margin: 0 0 1em 1em;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 -webkit-calc(100% - 1em);
      -ms-flex: 1 0 calc(100% - 1em);
          flex: 1 0 calc(100% - 1em);
}

.DateRangeSelector-item > label {
  font-weight: 700;
  margin: 0 .25em .25em 0;
  display: block;
}

.DateRangeSelector-item > input {
  width: 100%;
}

@media (min-width: 570px) {
  .DateRangeSelector-item {
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
    min-width:150px;
  }
}


.FlexGrid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  list-style: none;
  margin:0 0 -1.5em -1.5em;
  padding: 0;
}

.FlexGrid-item {
  -webkit-box-flex:1;
  -webkit-flex:1 0 -webkit-calc(100% - 1.5em);
      -ms-flex:1 0 calc(100% - 1.5em);
          flex:1 0 calc(100% - 1.5em);
  margin:0 0 1.5em 1.5em;
}

.FlexGrid-item--fixed {
  /* An `auto` flex-basis will use the size of the contents. */
  -webkit-box-flex: 0!important;
  -webkit-flex: 0 0 auto!important;
      -ms-flex: 0 0 auto!important;
          flex: 0 0 auto!important;
}


/**
 * --halves modifier.
 * Ensures that an item never takes up more than half of the width, i.e.
 * no more that two items will ever be in a row.
 */
.FlexGrid--halves .FlexGrid-item {
  -webkit-flex-basis: 34%;
      -ms-flex-preferred-size: 34%;
          flex-basis: 34%;
}


@media (min-width: 570px) {
  .FlexGrid-item {
    -webkit-flex-basis:300px;
        -ms-flex-preferred-size:300px;
            flex-basis:300px;
  }
}

@media (min-width: 1024px) {
  .FlexGrid {
    margin:0 0 -2em -2em;
  }
  .FlexGrid-item {
    -webkit-flex-basis:360px;
        -ms-flex-preferred-size:360px;
            flex-basis:360px;
    margin:0 0 2em 2em;
  }
}


.FlexLine {
   display: -webkit-inline-box;
   display: -webkit-inline-flex;
   display: -ms-inline-flexbox;
   display: inline-flex;
   width: 100%;
}

.FlexLine > [data-flex] {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0%;
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
}


.Titles {
  font-weight: 300;
  letter-spacing:.03em;
  line-height: 1.2;
  margin:0 0 1.5em;
  word-spacing: .2em;
}
.Titles-main,.Titles-sub {
  color: inherit;
  font: inherit;
  margin: 0;
}
.Titles-main {
  font-size: 1.4em;
}
.Titles-sub {
  opacity: .6;
  margin-top: .2em;
}
.Titles-action {
  background:hsl(16,87%,54%);
  border-radius: .25em;
  color: #fff;
  display: inline-block;
  font-weight: 400;
  margin-top: .8em;
  padding: .3em .6em .2em;
  vertical-align: .4em;
}
.Titles-action:focus,.Titles-action:hover {
  text-decoration: none;
}


.Titles--hero {
  color:#75787d;
}

.Titles--hero .Titles-main {
  font-size: 2.25em;
}
.Titles--hero .Titles-sub {
  font-size: 1.25em;
}

@media (min-width: 570px) {
  .Titles--hero {
    margin:1em 0 1.5em;
  }
  .Titles--hero .Titles-main {
    margin-right: .25em;
  }.Titles--hero .Titles-main,.Titles--hero .Titles-sub{display:inline-block;}
}

@media (min-width: 1024px) {
  .Titles--hero {
    margin: 4em 0 0;
  }
  .Titles--hero .Titles-main {
    font-size: 3em;
    margin-right: .5em;
  }
  .Titles--hero .Titles-sub {
    font-size: 1.75em;
  }
}

.u-hidden {
  display: none;
}
.u-block {
  display: block;
}
