// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post {
    border-bottom: solid 1px #ccc;
    padding: 5px 0;
    p{
        margin: 4px 0;
    }
}

.post.hover {
    background: #fafafa;
    .admin{
    display:inline;
    }
}

.post-meta{
    display: inline-block;
    margin: 0 0 5px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    color: #9eabb3;
}

.post-title{
    margin:0;
}

.post-content{
}
