// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post {
    border-bottom: solid 1px #ccc;
    padding: 5px 0;
    p{
        margin: 4px 0;
    }
}

.post.hover {
    background: #fafafa;
    .admin{
    display:inline;
    }
}
