<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 md-margin-bottom-40">
                <!-- About -->
                <div class="headline"><h2>About</h2></div>
                <p class="margin-bottom-25 md-margin-bottom-40">
                    Open Development is not about complex data, computer systems,
                    advanced communication systems or media images but more about
                    a combination of, and interaction between multiple stakeholders
                    i.e. data producers and analysts, technicians,  and communicators;
                    think tanks and academia; development and policy entrepreneurs; media;
                    government ministries/sectors; community–based organisations
                    and people, together working towards a mutual goal. Such openness
                    has the capacity to enhance participatory development, strengthen
                    the legitimacy of the government and create a focus on inclusion
                    and social justice.
                </p>
            </div><!--/col-md-4-->

            <div class="col-md-4 md-margin-bottom-40">
                <div class="posts">
                    <div class="headline"><h2>Recent Blog Entries</h2></div>
                    <% if @recent_posts %>
                        <% @recent_posts.each do |post| %>
                            <dl class="dl-horizontal">
                            <dt>
                                <a href="#">
                                    <%= image_tag(avatar_url(post.user), alt: '') %>
                                </a>
                            </dt>
                                <dd>
                                    <p>
                                        <%= link_to post.content.html_safe, post %>
                                    </p>
                                </dd>
                            </dl>
                        <% end %>
                    <% end %>
                </div>
            </div><!--/col-md-4-->

            <div class="col-md-4">
                <!-- Monthly Newsletter -->
                <div class="headline"><h2>Contact Us</h2></div>
                <address class="md-margin-bottom-40">
                    DRT <br>
                    Uganda <br>
                    Phone: ##### <br>
                    Fax: #### <br>
                    Email: <a href="paul@drt-ug.org" class="">paul{at}drt-ug.org</a>
                </address>

                <!-- Stay Connected -->
                <div class="headline"><h2>Stay Connected</h2></div>

            </div><!--/col-md-4-->
        </div><!--/row-->
    </div><!--/container-->
</div><!--/footer-->
