<footer id='footer'>
    <div class='large-12 columns'>
    <hr>
    &copy; <%= Time.now.year %> Open Dev Data. All rights reserved
    <p class='right'>
    <%= link_to image_tag("devinit.jpg", alt: "Development Initiatives"), "http://devinit.org" %>
    </p>
    </div>
</footer>
