<footer id='footer'>
    <hr>
<div class='row'>
    <div class='large-8 columns'>
    &copy; <%= Time.now.year %> Open Dev Data. All rights reserved
    </div>
    <div class='large-2 columns'>
        <p class='right'>
            <a href='https://twitter.com/Opendevdataug' target='_blank'>
                <i class='fa fa-twitter'></i>
            </a>
            <a href='https://twitter.com/Opendevdataug' target='_blank'>
                <i class='fa fa-facebook'></i>
            </a>
        </p>
    </div>
    <div class='large-2 columns'>
    <%= link_to image_tag("devinit.jpg", alt: "Development Initiatives"), "http://devinit.org" %>
    </div>
</div>
</footer>
